<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio</title>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

	<link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet" />

</head>

<body>
	<header>
		<a href="#banner" class="logo">Portfolio</a>
		<div class="toggle" onclick="toggleMenu();"></div>
		<ul class="menu">
			<li><a href="#banner" onclick="toggleMenu();">Home</a></li>
			<li><a href="#about" onclick="toggleMenu();">About me</a></li>
			<li><a href="#projects" onclick="toggleMenu();">Projects</a></li>
			<li><a href="#contact" onclick="toggleMenu();">Contact me</a></li>
		</ul>
	</header>
	<section class="banner" id="banner">
		<div class="textBox">
			<h2>Greetings, I am <br><span>Ilgvars Elksnis</span></h2>
			<h3>Studying to become Full-Stack Developer</h3>
			<a href="#about" class="btn">About me</a>
		</div>
	</section>


	<section class="about" id="about">
		<div class="heading">
			<h2>About Me</h2>
			<div class="container">
				<div class="card">
					<div class="circle">
						<h2>Skills</h2>
					</div>
					<div class="content">
						<p>My primary skills are basics in python, javascript, html and css.<br>I have some basic
							understanding of ReactJs.<br> I have expierience using Github and Gitlab. </p>
					</div>
				</div>
				<div class="card">
					<div class="circle">
						<h2>Personality</h2>
					</div>
					<div class="content">
						<p>I am silent type, however i have no issues socializing, working and communicating in
							teams.<br> I am dedicated and like learning new things. I am also quite adaptable and versitile</p>
					</div>
				</div>
				<div class="card">
					<div class="circle">
						<h2>Hobbies</h2>
					</div>
					<div class="content">
						<p>I enjoy reading, casual gaming and long walks</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="projects" id="projects">
		<div class="heading">
			<h2>Projects</h2>
			<div class="container">
				<div class="card">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="content">
						<h2>Password Checker</h2>
						<p>Python built password checker that connects to API. Password is converted in hash, then split
							in 2 parts, one part is used to communicate to API and get list of hashes. From the
							retrieved list we use the second part of password locally to find a match and see if it's
							ever been used in breech.</p>
						<a href="https://github.com/ilgvars-elksnis/password" class="btn">Github</a>
					</div>
				</div>
				<div class="card">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="content">
						<h2>ReactJS Login</h2>
						<p>Small experiment with react hooks</p>
						<a href="https://github.com/ilgvars-elksnis/ReactJsLogin" class="btn">Github</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="contact" id="contact">
		<div class="heading">
			<h2>Contact me</h2>
		</div>
		<div class="content">
			<div class="contactInfo">
				<h3>Contact info</h3>
				<div class="contactInfoBox">
					<div class="box">
						<div class="text">
							<h3>Phone</h3>
							<p>+371 27860754</p>
						</div>
					</div>
					<div class="box">
						<div class="text">
							<h3>Email</h3>
							<p>elksnisilgvars@gmail.com<br> Lion150@inbox.lv</p>
						</div>
					</div>
					<div class="box">
						<div class="text">
							<h3>Github</h3>
							<div class="icon">
								<a href="https://github.com/ilgvars-elksnis/" class="fab fa-github fa-3x"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="formBox">
				<form action="submitForm" method="POST">
					<h3>Message me</h3>
					<input type="text" name="name" placeholder="Full Name or Organization" required>
					<input type="email" name="email" placeholder="Email">
					<textarea placeholder="Your Message" name="message" required></textarea>
					<input type="submit" value="Send">
				</form>
			</div>
		</div>
	</section>




	<script src="/static/assets/js/navbar.js"></script>
	<script src="/static/assets/js/toggleMenu.js"></script>
	<script src="/static/assets/js/square.js"></script>

</body>

</html>