<!DOCTYPE HTML>

<html>
	<head>
		<title>Picture AI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Home</a>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Messing around with picture AI</h1>
							<p>In this project we will mess around with picture AI algorithms, Dependencies for program will be left on GitHub</p>
							<span class="image fit"><img src="./static/images/03-code.png" alt="" /></span>
							<p>Above we see code. Now we need picture</p>
							<span class="image fit"><img src="./static/images/car.webp" alt="" /></span>
							<p>We will use this image to test the algorithms</p>
							<span class="image fit"><img src="./static/images/03-dence.png" alt="" /></span>
							<p>First we test out DenseNet</p>
							<span class="image fit"><img src="./static/images/03-incep.png" alt="" /></span>
							<p>Now Inception V3</p>
							<span class="image fit"><img src="./static/images/03-mobile.png" alt="" /></span>
							<p>Now mobilenet</p>
							<span class="image fit"><img src="./static/images/03-res.png" alt="" /></span>
							<p>And last ResNet</p>
							<P>We can see Inception was the most accurate</P>

							<ul class="actions">
								<li><a href="https://github.com/ilgvars-elksnis/machine" class="button">GitHub</a></li>
							</ul>
						</div>
					</section>

			</div>

		
		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>