<!DOCTYPE HTML>

<html>
	<head>
		<title>Password checker</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Home</a>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Password checker</h1>
							<p>In this project we will take a look at safe way to check if your password has ever been breeched</p>
							<pre><code>
import requests
import hashlib
import sys
							
def request_api_data(query_char):
  url = 'https://api.pwnedpasswords.com/range/' + query_char
  res = requests.get(url)
  if res.status_code != 200:
    raise RuntimeError(f'Error fetching: {res.status_code}, check the api and try again')
  return res
								
def get_password_leaks_count(hashes, hash_to_check):
  hashes = (line.split(':') for line in hashes.text.splitlines())
  for h, count in hashes:
    if h == hash_to_check:
      return count
  return 0
								
def pwned_api_check(password):
  sha1password = hashlib.sha1(password.encode('utf-8')).hexdigest().upper()
  first5_char, tail = sha1password[:5], sha1password[5:]
  response = request_api_data(first5_char)
  return get_password_leaks_count(response, tail)
								
def main(args):
  for password in args:
    count = pwned_api_check(password)
    if count:
      print(f'{password} was found {count} times... you should probably change your password!')
    else:
      print(f'{password} was NOT found. Carry on!')
  return 'done!'
								
if __name__ == '__main__':
sys.exit(main(sys.argv[1:]))
							</code></pre>
							<p>Full code above. Now we will start breaking down what this program do</p>
							<pre><code>
import requests
import hashlib
import sys
							
def request_api_data(query_char):
  url = 'https://api.pwnedpasswords.com/range/' + query_char
  res = requests.get(url)
  if res.status_code != 200:
    raise RuntimeError(f'Error fetching: {res.status_code}, check the api and try again')
  return res
							</code></pre>
							<p>In this bit we make connection to API of https://haveibeenpwned.com/Passwords whis is site that tracks if word you wish to check has ever been breeched in security breech.
							First we import libraries which we will use. Then we make a small function  to connect with API and check it's status. Responce we are looking for is 200, which means it's ok.
							We can make connection to API and can proceed</p>
							<pre><code>
def get_password_leaks_count(hashes, hash_to_check):
  hashes = (line.split(':') for line in hashes.text.splitlines())
  for h, count in hashes:
    if h == hash_to_check:
      return count
  return 0								
							</code></pre>
							<p>
							This function gets the leak count. It receives encrypted split password from other function then asks API for every hash that matches and it's leak count.
							We receive every matching hash with it's breach count, then we filter the the hash we want and get it's breech amount. 
							</p>
							<pre><code>
def pwned_api_check(password):
  sha1password = hashlib.sha1(password.encode('utf-8')).hexdigest().upper()
  first5_char, tail = sha1password[:5], sha1password[5:]
  response = request_api_data(first5_char)
  return get_password_leaks_count(response, tail)
							</code></pre>
							<p>
							This section receives the input and converts it in to hash code. Then it divides the hash code in to parts. Then sends it further into program.	
							</p>
							<pre><code>
def main(args):
  for password in args:
    count = pwned_api_check(password)
    if count:
      print(f'{password} was found {count} times... you should probably change your password!')
    else:
      print(f'{password} was NOT found. Carry on!')
  return 'done!'
								
if __name__ == '__main__':
sys.exit(main(sys.argv[1:]))
							</code></pre>
							<p>
							This section is for input where we use args to have several inputs which then are run through the program to our results
							</p>
							<span class="image fit"><img src="./static/images/01-1.png" alt="" /></span>
							<p>
							Here we have some test results	
							</p>
							<ul class="actions">
								<li><a href="https://github.com/ilgvars-elksnis/password" class="button">GitHub</a></li>
							</ul>
						</div>
					</section>

			</div>

		

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>