<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Responce</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

	<link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet" />
</head>
<body>
	<header>
		<a href="/index.html" class="logo">Portfolio</a>
	</header>

	<section class="responce">
		<h2>Message Received</h2>
		<div class="pics">
			<div><img src="/static/images/responce/1.png"></div>
			<div><img src="/static/images/responce/2.png"></div>
			<div><img src="/static/images/responce/3.png"></div>
			<div><img src="/static/images/responce/4.png"></div>
			<div><img src="/static/images/responce/5.png"></div>
			<div><img src="/static/images/responce/6.png"></div>
			<div><img src="/static/images/responce/7.png"></div>
		</div>
	</section>
</body>
</html>